{% extends 'base.html' %}
{% load static %}


{% block title %}Home {% endblock title %}

{% block content %}

<h1>NewApp Using  <strong>newsapi.org</strong></h1>

   {% for article in headlines %}

    <div class="card my-2">
      {% if not article.urlToImage %} <!--- if image not exists---->
        <img src="{% static 'images/article.jpg' %}" class="card-img-bottom" alt="...">

      
      {% else %}
        <img src="{{article.urlToImage}}" class="card-img-bottom" alt="...">


      {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p><strong>Author: {{article.author|capfirst}} Published: {{article.publishedAt}}  </strong> </p>
        <p class="card-text">{{article.description}}.</p>
        <p class="card-text">{{article.content}}.</p>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
  {% endfor %}
   
{% endblock content %}