{% extends 'base.html' %}
{% load static %}


{% block title %}Home {% endblock title %}

{% block content %}

<h1>Second Page  <strong>newsapi.org</strong></h1>


    

        <div class="row row-cols-1 row-cols-md-4">
            {% for article in headlines %}

            <div class="col mb-4">
              <div class="card">
                {% if not article.urlToImage %}
                    <img src="{% static 'images/article.jpg' %}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{{article.urlToImage}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.description}}.</p>
                </div>
              </div>
            </div>
            {% endfor %}

    
      </div>


      {% for article in headlines %}

      <div class="card mb-3" style="max-width: 540px;">

        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{article.urlToImage}} " alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>

      </div>
      {% endfor %}

   
{% endblock content %}